{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello Django Template</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/media/bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<!-- Latest compiled and minified JS -->
	<script src="/media/jquery-2.2.3.min.js"></script>
	<script src="/media/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	<!-- https://github.com/bassjobsen/Bootstrap-3-Typeahead -->
	<!-- <script src="/media/bootstrap3-typeahead.min.js"></script> -->
</head>
<body>
	<div class="" id="app">
	</div>

	<script src="/media/bundle.js"></script>
</body>
</html>